<li class="nav-item position-relative Notification">
    <div class="dropdown">
        <span class="badge" id="pharmacyNotificationCount"></span>
        <button class="btn dropdown-toggle" type="button" id="MainPharmacyNotifications" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown notifications-dropdown">
                    <div class="dropdown-menu" aria-labelledby="MainPharmacyNotifications" id="PharmacyNotificationMenue">
                    </div>
                </li>
            </ul>

        </div>
    </div>
</li>