   <!-- The Pharmacy Modal -->
<div class="modal" id="UploadLamarLocationExcelFileDiv">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Location File</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="LamarLocationsDataForm" method="post" enctype="multipart/form-data">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="LamarDataFileValue"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>

                </div>
                <!-- Modal footer id="UpdateCustomer" -->
                <div class="modal-footer upload-pharmacies">
                    <button type="submit" class="btn btn-primary">@localizer["Upload"]</button>
                    <button type="button" id="closePharmacyMoal" class="btn btn-danger" data-dismiss="modal">@localizer["Close"]</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- The Modal To Show Loader -->
<div class="modal" id="LoaderPharmacyModal2">
    <div class="modal-dialog">
        <div class="">
            <div class="loader"></div>
            <button class="d-none" type="button" id="closePharmacyLaoder" data-dismiss="modal"></button>
        </div>
    </div>
</div>

<button type="button" class="d-none" id="showPharmacyLaoder2" data-toggle="modal" data-target="#LoaderPharmacyModal2">
</button>