


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <div class="container py-3">
        <div>

            <div class="container  p-4 bold ">
                <div class="row">
                    <div class="col-6">
                        <h5 class="bold text-primary pr-5"> Pharmacy Order status chart</h5>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <select type="text" class="form-control search" id="PharmacyNameFilter">
                            <option selected disabled value="0">Pharmacy</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div id="container1" style="height: 500%;width:100%"></div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/PharmacyChart.js" asp-append-version="true"></script>